<div class="container  bg-primary text-white">
  <h1 class="text-center" > Todo-list</h1>
</div>
<hr>
<div class='container'>
<label for='Todo-list'>Enter the list</label>
<input type="text" class='form-control'[(ngModel)]='add' placeholder="Enter here "(keydown.enter)='onKeydown($event)'>
<button type="submit"class='bg-primary'(click)='onclick()' >Add to list </button>
<h3 class='text-red'> todo-list</h3>
  <div class="container" *ngFor='let arrays of array; let i=index' >
     {{i+1}} {{arrays}} <input type=checkbox    (click)='delete(i)'  >
  </div>
