<header class="text-center ">
  <div class="bg-primary text-white"><h1>Todo-list</h1></div>
</header>

<div class="container">
  <form #f="ngForm"  action=""  ngNativeValidate (ngSubmit)='onclick()'>
  <label for="Todo-list">Enter the todo</label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="add"
    [ngModelOptions]="{standalone: true}"
    placeholder="Enter here "

    ngModel
    required
  />


  <button type="submit" class="btn btn-dark"  value='submit' required > addto</button>
</form>
</div>

 <br>
 <br>
  <div class='container'>
  <div class='card card-body'>
  <h3 >todo-list</h3>
  <table class='table'>
    <thead class='thead-dark'>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">list</th>
        <th scope="col">check box</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let arrays of array; let i = index">
        <th scope='row'>{{ i + 1 }}</th>
        <th>{{ arrays }}</th>
        <th><input type="checkbox" (click)="delete(i)" /></th>
      </tr>
    </tbody>
  </table>
</div>
</div>



