<p>ng-directives works!</p>
<h1 *ngIf="phone.length">ngif</h1>

<table *ngIf='phone'>
  <tr>
    <th>iphone</th>
    <th>asus</th>
    <th>nokia</th>
  </tr>
</table>
<button (click)="changeOnClick()">click me</button>
<p *ngIf="working">working with function</p>
<!-- <h1 >ngfor</h1> -->
<div *ngFor='let phones of phone; let i=index ' (click)='newVersion(phones)'>
  {{i+1}}.{{phones}}
</div>



<!-- <div><table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>city</th>
    </tr>
  </thead>
   <tr *ngFor='let p of people'>
     <th>{{p.name }}</th>
     <th>{{p.age}}</th>
     <th>{{p.city}}</th>

   </tr>
  </table>
</div>
 -->

<div [ngSwitch]="ver" [ngStyle]="mystyle">
  <div *ngSwitchCase="'iphone'">iphone11pro</div>
  <div *ngSwitchCase="'asus'">asus m1 pro</div>
  <div *ngSwitchCase="'nokia'">nokia 6.1</div>
  <div *ngSwitchCase="'mi'">redmi 6.1</div>
  <div *ngSwitchDefault>nothing</div>
</div>
<button (click)='changeStyle()'>ngStyle</button>



<p [ngClass]="currentCssClass">Cssclass</p>
<button ()="changeCssClass()">click to change csss class</button>
